<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314707419982-ssktkc7552qb0dspn36innbfo93hqs0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314707419982-ssktkc7552qb0dspn36innbfo93hqs0r</string>
	<key>API_KEY</key>
	<string>AIzaSyD6zqncpYWzhdqryw2wm7E53BZlrdWcT_0</string>
	<key>GCM_SENDER_ID</key>
	<string>314707419982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuimxstore.YourPic</string>
	<key>PROJECT_ID</key>
	<string>yourpic-21184</string>
	<key>STORAGE_BUCKET</key>
	<string>yourpic-21184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314707419982:ios:37ee53bb6a3befc858f41f</string>
</dict>
</plist>